<%- include('../layouts/header')%>
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Add new category</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a>
                                </li>
                                <li class="breadcrumb-item"><a href="#!">Add category</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="col-sm-12">
                <!-- <% if (success && success.length> 0) { %>
                            <div class="alert alert-success">
                                <%= success %>
                            </div>
                            <% } %> -->
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h5>Add New category</h5>
                        <a href="/admin/categories" class="btn btn-primary">Category list</a>
                    </div>
                    <div class="card-body">
                        <form action="category-store" method="POST" enctype="multipart/form-data">
                            <div class="row">
                                <!-- Category Name -->
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="categoryname">Category Name</label>
                                        <% if (error && error.length> 0) {
                                            error.forEach(function(e) {
                                            if(e.path == 'category_name'){ %>

                                            <p class="text-danger m-1">
                                                <%= e.msg %>
                                            </p>
                                        <% } }) } %>

                                                <input type="text" class="form-control" id="categoryname"
                                                name="category_name" placeholder="Enter category name" required>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="image">Image</label>
                                        <% if (error && error.length> 0) {
                                            error.forEach(function(e) {
                                            if(e.path == 'image'){ %>

                                            <p class="text-danger m-1">
                                                <%= e.msg %>
                                            </p>
                                        <% } }) } %>

                                                <input type="file" class="form-control" id="image"
                                                name="image" placeholder="Upload image" required>
                                    </div>
                                </div>

                                <!-- Status -->
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="status">Status</label>
                                        <% if (error && error.length> 0) {
                                            error.forEach(function(e) {
                                            if(e.path == 'status'){ %>

                                            <p class="text-danger m-1">
                                                <%= e.msg %>
                                            </p>
                                        <% } }) } %>
                                        <select class="form-control" id="status" name="status" required>
                                            <option selected disabled>Select Status</option>
                                            <option value="1">Active</option>
                                            <option value="0">Deactive</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- Submit Button -->
                            <div class="row">
                                <div class="col-sm-12 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary">Add Category</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>

    <%- include('../layouts/footer')%>